.sidebar {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    flex-direction: row;
    background: var(--darkGrey);
    box-shadow: 1px 0 20px 0 var(--darkGrey);
    z-index: 99;
}

.login-block {
    padding: 24px;
    color: var(--white);
}